body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#main-heading {
  text-align: center;
}
#todo-input {
  text-align: center; /* centers the typed text */
}

#todo-input::placeholder {
  text-align: center; /* centers the placeholder text */
}
